@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Heading-tag-color: #333;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #F1F1F1;
}

.container{
    width: 90%;
    margin: 0 auto;
}


/* navbar styling starts here */

nav{
    display: flex;
    justify-content: space-between;
    height: 150px;
    align-items: center;
}

.nav-menu{
    display: flex;
}

.nav-title h3{
    color: var(--Heading-tag-color);
    font-size: 35px;
    font-weight: bold;
}

.nav-menu li{
    list-style: none;
    padding: 15px;
}

.nav-menu li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    color: #333;
    padding: 10px;
}

.nav-menu li a:hover{
    color: #FF9F4A;
    
}

/* journey section starts from here */

.journey-section{
    margin-top: 30px;
    display: flex;
    height: 500px;
    align-items: center;

}

.journey-first{
    width: 70%;
}

.journey-first h1{
    color: var(--Heading-tag-color);
    font-size: 50px;
    font-weight: bold;
    
}

.journey-first p{
    color: #333;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5em;
    padding: 30px 50px 30px 0;
}

button{
    background-color: #FF9F4A;
    border: 1px solid #FF9F4A;
    border-radius: 30px;
}

button a, i{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 10px 15px 20px;
}

button i{
    padding: 15px 15px 15px 10px;
}

.journey-second{
    background-image: url('images/Circle design.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 30%;
    height: 500px;
}

.journey-second img{
    display: block;
    width: 90%;
    margin: auto;
}

/* brands section starts from here */

.brands-section{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    padding: 50px 0;
    border-top: 2px solid rgba(49, 47, 47, 0.096);
    border-bottom: 2px solid rgba(49, 47, 47, 0.096);

}

.brands-section img{
    width: 6%;
}

/* popular collection section starts from here */

.popular-section{
    margin-top: 100px;
}

h2{
    color: var(--Heading-tag-color);
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 70px;
}

.popular-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}

.popular-boxes{
    background-color: #fff;
    margin: 40px;;
    height: auto;
    border: 1 px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 8px rgba(153, 153, 153, 0.158);

}

.popular-boxes img{
    display: block;
    width: 90%;
    margin: 24px auto;
}

h4, h5, h6, .ratings{
    margin-left: 24px;
}

h4{
    color: var(--Heading-tag-color);
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;
}

h5{
    color: var(--Heading-tag-color);
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
}

.ratings{
    display: flex;
    margin-bottom: 10px;
}



.ratings i{
    color: #F7BC37;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.ratings span{
    margin-left: 10px;
}

h6{
    color: var(--Heading-tag-color);
    font-size: 15px;
    font-weight: 700;
}

h6:last-child{
    padding-bottom: 24px;
}

/* see more button */

.see-more a{
    color: #FF9F4A;
}

.see-more i{
    color: #FF9F4A;
}

.see-more button{
    background-color: #F1F1F1;
    border: 0;
    border-radius: 0;
    float: right;
    margin-right: 15px;
}


/* featured product section starts from here */

.featured-section{
    margin-top: 30px;
    display: flex;
    height: 500px;
    align-items: center;

}

.featured-first{
    width: 40%;
}

.featured-first img{
    width: 90%;
    margin: auto;
}




.featured-second{
    width: 60%;
}

.featured-second h1{
    color: var(--Heading-tag-color);
    font-size: 50px;
    font-weight: bold;
    
}

.featured-second p{
    color: #333;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5em;
    padding: 30px 50px 30px 0;
}

.featured-second button a, i{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 10px 15px 20px;
}

.featured-second button i{
    padding: 15px 15px 15px 10px;
}

/* footer section starts from here */

footer{
    background-color: rgb(28, 28, 44);
    height: auto;
    width: 100%;
}

.footer-section h3{
    color: #fff;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    
}

.footer-section p{
    color: #fff;
    text-align: center;
    line-height: 1.8em;
}

.social-icons{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
}

/* responsive layout for Tablets */

@media only screen and (min-width: 768px) {
    .nav-menu{
        display: block;
    }
    
    .nav-title h3{
        color: var(--Heading-tag-color);
        font-size: 35px;
        font-weight: bold;
    }
    
    .nav-menu {
        display: none;
    }

    .journey-section{
        margin-top: 30px;
        display: flex;
        height: 400px;
        align-items: center;
    
    }
    
    .journey-first{
        width: 60%;
    }
    
    .journey-first h1{
        color: var(--Heading-tag-color);
        font-size: 40px;
        font-weight: bold;
        
    }
    
    .journey-first p{
        color: #333;
        font-size: 17px;
        font-weight: 600;
        line-height: 1.5em;
        padding: 20px 30px 20px 0;
    }
    
    button{
        background-color: #FF9F4A;
        border: 1px solid #FF9F4A;
        border-radius: 20px;
    }
    
    button a, i{
        text-decoration: none;
        color: #fff;
        font-size: 17px;
        font-weight: bold;
        padding: 12px 8px 12px 17px;
    }
    
    button i{
        padding: 12px 12px 12px 8px;
    }
    
    .journey-second{
        background-image: url('images/Circle design.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 40%;
        height: 400px;
    }
    
    .journey-second img{
        display: block;
        width: 80%;
        margin: auto;
    }
    
    .brands-section{
        display: none;
    }

    .popular-section{
        margin-top: 100px;
    }
    
    h2{
        color: var(--Heading-tag-color);
        text-align: center;
        font-size: 35px;
        font-weight: bold;
        margin-bottom: 70px;
    }
    
    .popular-grid{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr)
    }
    
    
    h4{
        font-size: 25px;
    }

    .featured-section{
        height: 400px;
    }
    
    
    .featured-second h1{
        font-size: 45px;
    }
    
    
}

@media only screen and (min-width: 600px) {
    
    .popular-grid{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr)
    }
    
}

