@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Heading-tag-color: #333;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;
}


/* navbar styling starts here */

nav{
    display: flex;
    justify-content: space-between;
    height: 150px;
    align-items: center;
}

.nav-menu{
    display: flex;
}

.nav-title h3{
    color: var(--Heading-tag-color);
    font-size: 35px;
    font-weight: bold;
}

.nav-menu li{
    list-style: none;
    padding: 15px;
}

.nav-menu li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    color: #333;
    padding: 10px;
}

.nav-menu li a:hover{
    color: #FF9F4A;
}

/* journey section starts from here */

.journey-section{
    margin-top: 30px;
    display: flex;
    height: 500px;
    align-items: center;

}

.journey-first{
    width: 70%;
}

.journey-first h1{
    color: var(--Heading-tag-color);
    font-size: 50px;
    font-weight: bold;
    
}

.journey-first p{
    color: #333;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5em;
    padding: 30px 50px 30px 0;
}

button{
    background-color: #FF9F4A;
    border: 1px solid #FF9F4A;
    border-radius: 30px;
}

button a, i{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 10px 15px 20px;
}

button i{
    padding: 15px 15px 15px 10px;
}

.journey-second{
    background-image: url('images/Circle design.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 30%;
    height: 500px;
}

.journey-second img{
    display: block;
    width: 90%;
    margin: auto;
}


